<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="archive">${log-path}/archive</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{dd-MM-yyyy HH:mm:ss} [%t] %c{1} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile-Appender"
                     fileName="${log-path}/application.log"
                     filePattern="${archive}/application.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="[%-5level] %d{dd-MM-yyyy HH:mm:ss} [%t] %c{1} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.github.alebabai.tg2vk"
                level="DEBUG"
                additivity="false">
            <AppenderRef ref="RollingFile-Appender" level="debug"/>
            <AppenderRef ref="Console-Appender" level="info"/>
        </Logger>

        <Logger name="org.hibernate"
                level="INFO"
                additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>

        <Logger name="org.springframework"
                level="INFO"
                additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>
